* {
  margin: 0;
}
.app {
  background-color: #fafafa;
}
.app_header {
  object-fit: contain;
  background-color: white;
  /* border-bottom: 1px solid lightgray; */
  padding: 20px;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
