.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post_caption {
  font-weight: normal;
  padding: 15px;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.post_avatar {
  margin-right: 10px;
}

.post_commentBox {
  display: flex;
  margin-top: 10px;
}

.post_commentInput {
  flex: 1;
  border: None;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post_comment {
  flex: 0;
  border: None;
  border-top: 1px solid lightgray;
  color: #6082a3;
}

.post_comments {
  padding: 10px;
}
